 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: "Montserrat", Sans-serif !important;
 }

 .navbar {
     position: sticky !important;
     top: 0;
     z-index: 999;
     backdrop-filter: blur(10px);
     background-color: rgba(255, 255, 255, 0.3);
 }

 @media (min-width:1600px) {
     .vw {
         max-width: 1460px;
     }
 }

 .logo {
     color: black;
     font-size: 24px;
     font-weight: bold;
     text-decoration: none;
 }

 .nav-link {
     color: #0E1E2F !important;
     text-transform: uppercase !important;
     font-size: 14px;
     font-weight: 600;
     transition: all 0.3s;
 }

 .nav-link:hover {
     color: #4EF1AE !important;
 }

 .login-btn {
     background-color: #4EF1AE;
     color: #ffffff;
     border: none;
     font-size: 14px;
     font-weight: 600;
     /* margin: auto; */
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 10px 2rem;
     cursor: pointer;
     border-radius: 10px;
     transition: all 0.3s ease;
 }

 .login-btn:hover {
     background-color: #ffffff;
     color: #4EF1AE;
 }

 /* ====  Hero Section ==== */

 .hero {
     height: 90vh;
     background: linear-gradient(rgba(0, 0, 0, 0.6),
             rgba(0, 0, 0, 0.6)),
         url('./assets/images/freepik__full-stack-developer.png') no-repeat center center/cover;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     color: #fff;
     position: relative;
     overflow: hidden;
     z-index: -1;
 }

 .hero-content {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
 }

 .hero h1 {
     position: absolute;
     color: white;
     font-size: 3rem;
     opacity: 0;
     animation: fadeInOut 9s infinite;
 }

 .hero h1:nth-child(1) {
     animation-delay: 0s;
 }

 .hero h1:nth-child(2) {
     animation-delay: 3s;
 }

 .hero h1:nth-child(3) {
     animation-delay: 6s;
 }

 @keyframes fadeInOut {
     0% {
         opacity: 0;
         transform: translateY(20px);
     }

     10% {
         opacity: 1;
         transform: translateY(0);
     }

     30% {
         opacity: 1;
     }

     40% {
         opacity: 0;
         transform: translateY(-20px);
     }

     100% {
         opacity: 0;
     }
 }

 @media (max-width: 600px) {
     .hero h1 {
         font-size: 2rem;
     }
 }

 /* ==== Banner Section ===== */

 .banner-section {
     background-color: #ffffff;
     padding: 3rem 1rem;
     overflow: hidden;
 }

 .banner {
     text-align: center;
     margin-bottom: 2rem;
 }

 .banner-h2 {
     font-size: 2.5vw;
     background: linear-gradient(to bottom, #4EF1AE 0%, #395270 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .brands {
     width: 100%;
     overflow: hidden;
     position: relative;
 }

 .brands-track {
     display: flex;
     width: calc(200%);
     animation: scrollBrands 30s linear infinite;
 }

 .brand-img {
     height: 80px;
     margin-right: 60px;
     flex-shrink: 0;
     object-fit: contain;
     transition: transform 0.3s ease;
 }

 .brand-img:hover {
     transform: scale(1.1);
 }

 @keyframes scrollBrands {
     from {
         transform: translateX(0);
     }

     to {
         transform: translateX(-50%);
     }
 }

 .brands:hover .brands-track {
     animation-play-state: paused;
 }

 @media (max-width: 768px) {
     .brand-img {
         height: 60px;
         margin-right: 40px;
     }

     .banner-h2 {
         font-size: 6vw;
     }
 }

 /* ==== About section ==== */

 .about-section {
     position: relative;
     width: 100%;
     min-height: 90vh;
     /* display: flex; */
     align-items: center;
     justify-content: flex-start;
     padding: 4rem 2rem;
     overflow: hidden;
     color: #fff;
     background-color: #0d1b2a;
 }

 .background-video {
     position: absolute;
     top: 0;
     right: 0;
     /* width: 100%; */
     height: 100%;
     object-fit: contain;
     z-index: 0;
 }

 .video-overlay {
     position: absolute;
     inset: 0;
     background: linear-gradient(to right,
             rgba(13, 27, 42, 0.95) 45%,
             rgba(13, 27, 42, 0.6) 70%,
             rgba(13, 27, 42, 0.2) 100%);
     z-index: 1;
 }

 .about-content {
     position: relative;
     z-index: 2;
     max-width: 600px;
 }

 .about-content h2 {
     font-size: 2.5rem;
     color: #4dd0ae;
     margin-bottom: 1rem;
 }

 .about-content p {
     font-size: 1.1rem;
     line-height: 1.6;
     margin-bottom: 1rem;
 }

 @media (max-width: 768px) {
     .about-section {
         padding: 3rem 1.5rem;
     }

     .about-content h2 {
         font-size: 2rem;
     }

     .about-content p {
         font-size: 0.8rem;
     }
 }

 /* ==== Testimonial section ==== */

 .testimonial-section {
     background-color: #0d1b2a;
     color: #fff;
     padding: 3rem 0.5rem 2rem;
     text-align: center;
 }

 .testimonial-container {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 2rem;
     max-width: 1200px;
     margin: 0 auto;
 }

 .testimonial-card {
     background: transparent;
     padding: 1rem;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .testimonial-card .icon img {
     width: 80px;
     height: 80px;
     margin-bottom: 1.5rem;
     filter: brightness(0) saturate(100%) invert(81%) sepia(25%) saturate(408%) hue-rotate(108deg) brightness(94%) contrast(91%);
 }

 .testimonial-card h3 {
     font-size: 1.3rem;
     font-weight: 700;
     margin-bottom: 0.5rem;
 }

 .underline {
     width: 60px;
     height: 3px;
     background-color: #3de0b2;
     margin-bottom: 1.2rem;
 }

 .testimonial-card p {
     font-size: 1rem;
     line-height: 1.6;
     color: #d8e3e7;
     max-width: 280px;
 }

 @media (max-width: 992px) {
     .testimonial-container {
         grid-template-columns: repeat(2, 1fr);
         gap: 2.5rem;
     }
 }

 @media (max-width: 600px) {
     .testimonial-container {
         grid-template-columns: 1fr;
         gap: 2rem;
     }

     .testimonial-card p {
         max-width: 100%;
     }
 }

 /* ==== Details Section === */

 .details-section {
     margin: 3rem 1rem 1rem;
 }

 .details {
     padding-bottom: 3rem;
     text-align: center;
 }

 .det-card {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     gap: 2rem;
 }

 @media (min-width: 1296px) {
     .det-card {
         grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
     }
 }

 .card {
     background: #fff;
     border-radius: 16px !important;
     cursor: pointer;
     /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); */
     overflow: hidden;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
 }

 .card:hover {
     transform: translateY(-5px);
     box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
 }

 .card img {
     width: 100%;
     height: 220px;
     border-radius: 16px;
     object-fit: cover;
     border-bottom: 1px solid #eee;
 }

 .card h3 {
     font-size: 1.25rem;
     font-weight: 700;
     color: #0a1a2f;
     margin: 20px 20px 10px;
 }

 .card p {
     font-size: 1rem;
     color: #333;
     margin: 0 20px 20px;
     line-height: 1.6;
 }

 /* ==== contact section ==== */

 .contact-section {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #0a1a2f;
     color: #fff;
     margin: 2rem;
     border-radius: 1rem;
     background: url('https://arconcivil.com.au/wp-content/uploads/2021/06/form-img-bg.webp');
     background-repeat: no-repeat;
     background-size: cover;
 }

 .contact-container {
     display: grid;
     grid-template-columns: 1fr 1fr;
     width: 100%;
     min-height: 100vh;
 }

 .contact-left {
     padding: 80px 10%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     border-radius: 1rem;
 }

 .contact-left h2 {
     font-size: 2.2rem;
     font-weight: 700;
     color: #3de1a7;
     margin-bottom: 40px;
     letter-spacing: 1px;
 }

 form {
     width: 100%;
 }

 .form-row {
     display: flex;
     gap: 2rem;
     margin-bottom: 1.5rem;
 }

 @media (max-width:550px) {
     .form-row {
         flex-direction: column;
         gap: 1rem;
     }

     .contact-section {
         margin: 2px;
     }

     .contact-left {
         padding: 55px 4%;
     }

     .submit-btn,
     .file-label {
         font-size: 0.8rem !important;
     }

     .contact-left h2 {
         font-size: 1.8rem;
         text-align: center;
     }

 }

 .form-group {
     flex: 1;
     display: flex;
     flex-direction: column;
 }

 .form-group.full-width {
     width: 100%;
     margin-bottom: 1.5rem;
 }

 input,
 textarea,
 select {
     background: transparent;
     border: none;
     border-bottom: 1px solid #a9b4c0;
     padding: 8px 0;
     font-size: 1rem;
     color: #fff;
     outline: none;
 }

 input:focus-visible,
 textarea:focus-visible {
     color: #00e4a8;
     border-bottom: 1px solid #00e4a8;
 }

 select {
     appearance: none;
     background-image: url("./assets/images/down-arrow.png");
     background-repeat: no-repeat;
     background-position: right 0.5rem center;
     background-size: 1rem;
 }

 option {
     background-color: #5b5b5b;
     padding: 1rem;
     color: #fff;
 }

 textarea {
     resize: none !important;
     font-family: "Montserrat", Sans-serif !important;
 }

 .form-actions {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 1.5rem;
 }

 .file-label {
     display: inline-flex;
     align-items: center;
     gap: 8px;
     background-color: #dfe3e9;
     color: #0a1a2f;
     padding: 10px 16px;
     border-radius: 4px;
     font-weight: 600;
     cursor: pointer;
 }

 .file-label i {
     color: #0a1a2f;
 }

 .submit-btn {
     background-color: #4EF1AE;
     color: #ffffff;
     border: none;
     padding: 14px 40px;
     border-radius: 50px;
     font-weight: 700;
     font-size: 1rem;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }

 .submit-btn:hover {
     background-color: transparent;
     color: #4EF1AE;
 }

 .contact-right {
     position: relative;
 }

 .contact-right img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 @media (max-width: 900px) {
     .contact-container {
         grid-template-columns: 1fr;
     }

     .contact-right {
         display: none;
     }

     .contact-left {
         padding: 60px 8%;
     }
 }

 /* ==== Footer ==== */

 .footer-section {
     background-color: #0a1a2f;
     color: #dce3ec;
     padding: 60px 5%;
 }

 @media (max-width:550px) {
     .footer-section {
         padding: 60px 10px 5%;
     }

     .footer-des {
         font-size: 0.9rem;
     }

 }

 .footer {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     gap: 2.5rem;
 }

 .footer-col h3 {
     color: #fff;
     font-size: 1.2rem;
     font-weight: 700;
     margin-bottom: 1rem;
 }

 .footer-col p {
     font-size: 14px;
     /* font-weight: 600; */
     line-height: 1.4em;
     color: #FFFFFF80;
 }

 .footer-col.about {
     text-align: center;
 }

 .footer-logo {
     width: 140px;
     margin-bottom: 1rem;
 }

 .footer-col ul {
     list-style: none;
     padding: 0;
     margin: 0;
 }

 .footer-col ul li {
     margin-bottom: 0.3rem;
     padding-bottom: 0.6rem;
     color: #FFFFFF80;
     font-size: 14px;
 }

 .footer-col ul li a {
     color: #FFFFFF80;
     text-decoration: none;
     transition: color 0.3s ease;
 }

 .footer-col ul li a:hover {
     color: #00e4a8;
 }

 .footer-btn {
     background-color: #4EF1AE;
     color: #ffffff;
     border: none;
     font-size: 14px;
     /* font-weight: 600; */
     letter-spacing: 0.5px;
     padding: 10px 24px;
     border-radius: 30px;
     margin-top: 15px;
     cursor: pointer;
     transition: all 0.3s ease;
 }

 .footer-btn:hover {
     background-color: transparent;
     color: #4EF1AE;
 }

 .footer-col.contact ul li {
     display: flex;
     align-items: center;
     gap: 10px;
 }

 .footer-col.contact i {
     color: #FFFFFF80;
     font-size: 1rem;
 }

 .footer-des {
     margin: 2rem 1rem;
     text-align: center;
 }

 .copyrights {
     background-color: #3BB288;
     padding: 1rem 0.5rem;
     text-align: center;
 }

 .copyrights p {
     font-size: 15px;
     letter-spacing: 0.6px;
     /* font-weight: 600; */
     color: #ffffff;
 }